{% extends 'base.html' %}
{% block content %}
<div class="text-center">
  <h1>Welcome to MyShop</h1>
  <p>Select how you want to log in</p>

    <div class="mt-4">
        <a href="/admin/" class="btn btn-dark btn-lg">Login as Admin</a>
    </div>

    <div class="mt-3">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login as User</a>
    </div>

    <div class="mt-3">
        <a href="{% url 'register' %}" class="btn btn-success btn-lg">Register as User</a>
    </div>
</div>
{% endblock %}
