{% extends 'base.html' %}
{% block content %}
<h2>Your Orders</h2>

{% for item in orders %}
    <div class="card mb-2">
        <div class="card-body">
            <h5>{{ item.product.name }}</h5>
            <p>Qty: {{ item.quantity }}</p>
            <p>Price: ₹ {{ item.product.price }}</p>
            <p>Ordered at: {{ item.order.created_at }}</p>
            <p>Status: {{ item.order.status }}</p>
        </div>
    </div>
{% empty %}
    <p>No orders found.</p>
{% endfor %}

{% endblock %}
