<!DOCTYPE html>
<html>
<head>
    <title>{{ product.name }}</title>
</head>
<body>

    <h1>{{ product.name }}</h1>

    {% if product.image %}
        <img src="{{ product.image.url }}" width="200">
    {% endif %}

    <p><strong>Price:</strong> ₹{{ product.price }}</p>
    <p><strong>Description:</strong> {{ product.description }}</p>
    <p><strong>Stock:</strong> {{ product.stock }}</p>

    <a href="{% url 'add_to_cart' product.id %}">
        Add to Cart
    </a>

    <br><br>
    <a href="{% url 'product_list' %}">Back to Products</a>

</body>
</html>
